.myForm {
  width: 50%;
  margin: auto;
}

.nav-link.active {
  background-color: #4692c6 !important;
  color: white !important;
}

.nav-link {
  color: #4692c6 !important;
}


.regForm {
  width: 90%;
  margin: auto;
}


@media (max-width: 768px) {
  .regForm  > * {
    width: 100%;
  }
}
